version: '3.8'
services:
  app:
    container_name: simple_nodejs_app
    build: ./backend
    env_file:
      - .env.docker
    ports:
      - "3000:3000"
    depends_on:
      - mongodb
    networks:
      - app-network

  mongodb:
    container_name: mongodb
    image: mongo:7.0-jammy
    restart: unless-stopped
    env_file:
      - .env.docker
    # environment:
    #   - MONGO_INITDB_ROOT_USERNAME=${MONGO_ROOT_USER}
    #   - MONGO_INITDB_ROOT_PASSWORD_FILE=/run/secrets/mongo_root_password
    #   - MONGO_INITDB_DATABASE=${MONGO_DB_NAME}
    ports:
      - "${MONGO_PORT:-27017}:27017"
    volumes:
      - ./mongodb/init:/docker-entrypoint-initdb.d:ro
      - ./mongodb/mongod.conf:/etc/mongod.conf:ro
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16
    
